@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

$body-bg: #FFF1E8;
$primary: #4C061D;
$secondary: #16BAC5;
$bs-tertiary-bg: #4C061D;

* {
    color: $primary ;
    font-family:'Play', sans-serif;
}

.navbar * {
    color: $secondary !important;
}

.h1, .h2, .h3, .h4 {
    font-family: 'DM Serif Display', serif;
    color: $primary !important;
}

.form-control::file-selector-button{
    background-color: $primary !important ;
    color: white !important;
}


@import "../../vendor/twbs/bootstrap/scss/bootstrap";