@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('jquery-ui-1.13.2.custom/jquery-ui.css');

$body-bg: #FFF1E8;
$primary: #4C061D;
$primary-tr: #4c061d25;
$secondary: #16BAC5;
$bs-tertiary-bg: #4C061D;



* {
    color: $primary ;
    font-family:'Play', sans-serif;
    --bs-border-color: #16BAC5;
    --bs-body-color:#4C061D;
    --bs-navbar-toggler-border-color: #16BAC5;
    font-size: 1rem;
}

h1, h2, h3, h4 {
    text-align: center;
}

.bi-arrows-move {
    font-size: 1.2rem;
    padding: 5px;
}

h4 {

}
.navbar * {
    color: $secondary !important;
    font-size: 1.2rem;
}

.badge-bg {
    background-color: #4c061d25 !important;
}


.h1, .h2 {
    font-family: 'DM Serif Display', serif;
    color: $primary !important;
}

.form-control::file-selector-button{
    background-color: $primary !important ;
    color: white !important;
}

#url {
    display: none ;
}

.required:after {
    content:" *" ;
    color: red ;
  }

.hidden {
    display: none !important;
}

.table-image {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.btn-secondary{
    color: white !important;
}

.swiper {
    width: 700px;
    height: 500px;
  }

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.secondary-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(22,186,197, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
.secondary-toggler.navbar-toggler {
border-color: $secondary;
}

.day input {
    width: 100px !important;
}

.day {
    border: solid $primary-tr 1px;
    border-radius: 20px;
}

.ui-datepicker-month, .ui-datepicker-year {
    color:#16BAC5;
}

.swiper-button-next, .swiper-button-prev  {
    color:#16BAC5 !important;
}

.swiper-pagination-bullet-active {
    background: #16BAC5 !important;
}

@media screen and (max-width: 800px) {
    .swiper {
        width: 80vw;
        height: 300px;
    }
  }

@import "../../vendor/twbs/bootstrap/scss/bootstrap";